body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.module {
    height:200px;
    border:gray dotted;
    margin:1em;
}

.new-module {
    height: 150px;
    width: 150px;
    background-color:#c8c8c8;
    border: gray solid;
}

.btn-add-module {
    background-image: url(/images/AddModule_Sprite.png);
    background-position: -1px -1px;
    height: 33px;
    width: 47px;
    color: #727272;
}

.btn-add-module:hover {
    background-image: url(/images/AddModule_Sprite.png);
    background-position: 0px -33px;
    border: 0 none;
}

.btn-add-existing-module {
    background-image: url(/images/AddExistingModule_Sprite.png);
    margin-left: 7px;
    background-position: 0px -1px;
    height: 33px;
    width: 47px;
}

.btn-add-existing-module:hover {
    background-position: 0px -33px;
    border: 0 none;
}

.btn-page-settings {
    background-image: url(/images/Settings_Sprite.png);
    margin-left:7px;
    background-position: 0px -1px;
    height: 33px;
    width: 47px;
}

.btn-page-settings:hover {
   background-position: 0px -33px;
}

.hoverMenu {
    position: absolute;
    display: none;
    background-color: #0f0f0f;
    padding: 0px 25px;
    border-radius: 5px;
    bottom: 78px;
    white-space: nowrap;
    box-sizing: content-box;
    transform: translateX(-50%);
    left: 14%;
    text-align: center;
    margin-left: 0;
}

.hoverMenu::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 16px solid;
    border-color: #0f0f0f transparent transparent transparent;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -26px;
}


.btn-add-module:hover + .addModuleHover {
    display:inline;
}

.btn-add-existing-module:hover + .addExistingModuleHover {
    display: inline;
    left:18%;
}

.btn-page-settings:hover + .pageSettingsHover {
    display: inline;
    left: 22%;
}








div.admin {
    margin-bottom:5em;
}

footer.admin {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 5em;
    line-height: 5em;
    background-color: #2f2f2f;
    color: #b1b1b1;
}

span.admin {
    text-decoration: none;
    color: #b1b1b1;
    background-color: #2f2f2f;
}

span.admin:hover{
    cursor:pointer;
}

.thumbnail-module{
    display:block;
    text-align:center;
    padding:3em 0;
}

.thumbnail-module > .glyphicon {
    font-size: 3em;
}

.thumbnail-module:hover{
    background-color:#a8a8a8;
    cursor:pointer;
}