@using Dnn.vNext.Models
@model IEnumerable<Module>

<!-- Modal -->
<div class="modal fade" id="module-list" tabindex="-1" role="dialog" aria-labelledby="module-list-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="module-list-label">Add Module</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    @foreach (var module in Model)
                    {
                        <div class="col-md-4">
                            <div id="new-module-@module.Id" class="thumbnail thumbnail-module">
                                <span class="glyphicon glyphicon-@module.Icon" aria-hidden="true"></span>
                                <h4>@module.Name</h4>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    @foreach (var module in Model)
    {
        <text>
            $('#new-module-@module.Id').click(function () {
                    $('#module-list').modal('hide');
                    $('body').append("<div id=\"module-1\" class=\"new-module floating-add-module new-module-add-animation \"></div>");

                    $('#module-1').draggable({
                        start: function (e, u) {
                            $(this).removeClass("new-module-add-animation");
                        }
                    })
                })
        </text>
    }
</script>