<div class="persona-bar">

    <div class="flyout">
        <div class="close-icon"></div>
    </div>

    <div class="logo-container">
        <img class="logo" src="~/images/logo.svg" />
    </div>

    <div class="persona-bar-menu persona-bar-content-menu">
        <ul>
            <li>Content Link 1</li>
            <li>Content Link 2</li>
            <li>Content Link 3</li>
        </ul>
    </div>

    <div class="persona-button persona-bar-content-icon">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2048 2048" style="enable-background:new 0 0 2048 2048;" xml:space="preserve">
        <g>
        <rect x="1309.1" y="597.1" width="479.8" height="530.8"></rect>
        <rect x="252" y="937.4" width="916.5" height="190.6"></rect>
        <rect x="252" y="597.1" width="916.5" height="190.6"></rect>
        <rect x="252" y="1598.4" width="1057" height="190.6"></rect>
        <rect x="252" y="1258.1" width="1537" height="190.6"></rect>
        <rect x="252" y="253" width="1537" height="190.6"></rect>
            </g>
        </svg>
    </div>

    <div class="persona-bar-menu persona-bar-manage-menu">
        <ul>
            <li>Manage Link 1</li>
            <li>Manage Link 2</li>
            <li>Manage Link 3</li>
        </ul>
    </div>

    <div class="persona-button persona-bar-manage-icon">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2048 2048" style="enable-background:new 0 0 2048 2048;" xml:space="preserve">
        <g>
        <path d="M1466.1,1341.5l-756-762.1c32.8-84.2,15.6-183.8-52-251.9s-166.2-85.5-250-52.4l153.2,154.3l-9,123.6L429.6,562l-153-154.3
		            c-32.8,84.2-15.6,183.8,52,251.9s166.2,85.5,250,52.4l756.1,762c-32.8,84.4-15.6,183.8,52,251.9c67.6,68.2,166.2,85.5,250,52.4
		            L1483.6,1624l9-123.6l122.6-9.1l153.2,154.3c32.8-84.2,15.6-183.8-52-251.9C1648.4,1325.8,1549.9,1308.4,1466.1,1341.5z"></path>
        <path d="M828.5,1093.8L581,1341.3c-84.1-33.1-183.7-15.7-251.9,52.4s-85.5,167.5-52.4,251.9L431,1491.4l123.6,9.1l9.1,123.6
		            l-154.3,154.3c84.1,33.1,183.7,15.7,251.9-52.4s85.5-167.5,52.4-251.9l247.5-247.6L828.5,1093.8z"></path>
        <path d="M1227.9,959.6L1475.4,712c84.4,33.1,183.7,15.7,251.9-52.4c68.1-68.2,85.5-167.5,52.4-251.9L1625.4,562l-123.6-9.1
		            l-9.1-123.6L1647.1,275c-84.1-33.1-183.7-15.7-251.9,52.4c-68.1,68.2-85.5,167.5-52.4,251.9l-247.5,247.6L1227.9,959.6z"></path>
            </g>
        </svg>
    </div>

    <div class="persona-bar-menu persona-bar-settings-menu">
        <ul>
            <li>Setting Link 1</li>
            <li>Setting Link 2</li>
            <li>Setting Link 3</li>
        </ul>
    </div>


    <div class="persona-button persona-bar-settings-icon">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2048 2048" style="enable-background:new 0 0 2048 2048;" xml:space="preserve">
        <path d="M1592.2,1015.2c0-47-6.5-92.4-17.5-136l189.4-109.2l-149-258.2l-187,108.1c-65.7-65.5-147.8-114.3-239.4-140.7V256.6h-298
	            v219.6c-99.6,26.4-188.2,79.3-257.7,151.1l-200-115.5l-149,258.1l206.4,119.2c-9.4,40.5-14.8,82.7-14.8,126.1
	            c0,49.8,7.1,97.6,19.3,143.3l-211,121.8l149,258.2l212.6-122.7c67.5,65.5,151.5,113.7,245.3,138.5v239.4h298.1v-242.4
	            c85.7-24.6,162.6-69.3,225.9-128.6l200.5,115.7l149-258.2l-193.7-111.9C1584.4,1119.8,1592.2,1068.6,1592.2,1015.2z M1033.9,1348.3
	            c-178.4,0-323.1-144.6-323.1-323.1s144.6-323.1,323.1-323.1S1357,846.8,1357,1025.2S1212.4,1348.3,1033.9,1348.3z"></path>
        </svg>
    </div>
    <div id="persona-edit-button" class="persona-edit persona-button">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2048 2048" style="enable-background:new 0 0 2048 2048;" xml:space="preserve">
        <g>
        <polygon points="305.7,1439.1 304.5,1440.3 256.8,1791.9 608.4,1744.2 609.6,1743"></polygon>
        <rect x="292.3" y="752.3" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -367.2321 1047.9069)" width="1578" height="429.9"></rect>
            </g>
        </svg>
    </div>

    <div id="persona-cancel-edit-button" class="edit-cancel persona-button">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
             width="50" height="50"
             viewBox="0 0 50 50"
             style="fill:#cccccc;">
            <g>
                <path style=" " d="M 9.15625 6.3125 L 6.3125 9.15625 L 22.15625 25 L 6.21875 40.96875 L 9.03125 43.78125 L 25 27.84375 L 40.9375 43.78125 L 43.78125 40.9375 L 27.84375 25 L 43.6875 9.15625 L 40.84375 6.3125 L 25 22.15625 Z "></path>
            </g>
        </svg>
    </div>
</div>



