@page
@model Dnn.vNext.Pages.DemoModel
@{
    ViewData["Title"] = "Demo";
}

<h2>Dnn.vNext Demo</h2>

<div id="module-1" class="new-module">
    Demo
</div>

<div class="row">
    <div class="col-md-7 module"></div>
    <div class="col-md-4 module"></div>
    <div class="col-md-7 module"></div>
    <div class="col-md-4 module"></div>
</div>

@section scripts{
    <script>
        $(function () {
            $('#module-1').draggable();
            $('.module').droppable({
                drop: function (e, u) {
                    $('#module-1').detach().css({ top: 0, left: 0, width: '100%' }).appendTo(this);
                }
            });
        });
    </script>
}
