@page
@model Dnn.vNext.Pages.DemoModel
@{
    ViewData["Title"] = "Demo";
    Layout = "_Admin";
}
@Html.AntiForgeryToken()

<h2>Dnn.vNext Demo</h2>

<div class="row">
    <div id="content_1" class="col-md-7 module"></div>
    <div id="content_2" class="col-md-4 module"></div>
    <div id="content_3" class="col-md-7 module"></div>
    <div id="content_4" class="col-md-4 module"></div>
</div>


@section scripts{
<script>
    $(function () {
        @foreach (var kvp in Model.Modules)
        {
            foreach (var modulePath in kvp.Value)
            {
                <text>
                    $.ajax({
                        url: '@modulePath',
                        type: 'GET',
                        success: function (data) {
                            $('#@kvp.Key').append(data);
                        }
                    });
                </text>
            }
        }
        $('.module').droppable({
            drop: function (e, u) {
                $('#module-1').detach().css({ top: 0, left: 0, width: '100%', 'background-color': 'transparent', border: 'none' }).appendTo(this);

                var data = {
                    pageId: @Model.PageId,
                    elementId: this.id,
                    modulePath: "Modules/SimpleForm"
                };

                $.ajax({
                    url: '/api/page/AddModule',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    headers: {
                        'RequestVerificationToken':  $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    data: JSON.stringify(data)
                });
                $.ajax({
                    url: '@Model.ModulePath',
                    type: 'GET',
                    success: function (data) {
                        $('#module-1').html(data);
                    }
                });
            }
        });
    });
</script>
}