@page
@model DNNTAG.RazorPagesModule.Pages.Index
    
@{
    Layout = null;
}

@*@using DNNTAG.RazorPagesModule.Pages
    @inherits DotNetNuke.Web.Mvc.RazorPages.SDK.DnnWebViewPage<Index>*@

<div class="row">
    @Model.WelcomeMessage
</div>